<div>
    <div class="modal-header">
        <h3 class="modal-title upper">{{settings.title}} </h3>
    </div>

    <div class="modal-body row-fluid clearfix">
        <form role="form">
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Enter the IP:Port" ng-model="home.config.ip">
                             <span class="input-group-btn">
                                    <button class="btn btn-default btn-success" type="button" ng-click="home.connect()" tooltip="Connect"><i class="glyphicon glyphicon glyphicon-ok-circle"></i></button>
                                </span>
                <input type="text" class="form-control" placeholder="Enter the Room Name" ng-model="home.config.room">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-danger" type="button" ng-click="home.disconnect()" tooltip="Disconnect"><i class="glyphicon glyphicon-remove-circle"></i></button>
                                </span>
            </div>
        </form>
        <div class="form-group input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" placeholder="Enter your name" ng-model="home.data.name">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="button" ng-click="home.saveLogin()" tooltip="Save username"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                    </span>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-md upper" ng-click="modalInstance.dismiss()"><i class="glyphicon glyphicon-ok"></i> Apply</button>
    </div>
</div>