<div>
    <!--<div class="col-lg-12">
        <h3 class="page-header">{{home.title}}</h3>
    </div>-->
    <div class="col-lg-6 col-sm-6 col-sm-12" id="log-in">
        <div class="panel panel-default">
            <div class="panel-heading">Log in as:</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Enter the IP:Port" ng-model="home.config.ip">
                         <span class="input-group-btn">
                                <button class="btn btn-default btn-success" type="button" ng-click="home.connect()" tooltip="Connect"><i class="glyphicon glyphicon glyphicon-ok-circle"></i></button>
                            </span>
                        <input type="text" class="form-control" placeholder="Enter the Room Name" ng-model="home.config.room">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-danger" type="button" ng-click="home.disconnect()" tooltip="Disconnect"><i class="glyphicon glyphicon-remove-circle"></i></button>
                            </span>
                    </div>
                </form>
                <div class="form-group input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control" placeholder="Enter your name" ng-model="home.data.name">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-primary" type="button" ng-click="home.saveLogin()" tooltip="Save username"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                            </span>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6  col-sm-12" id="register">
        <div class="panel panel-default">
            <div class="panel-heading">Send Something!</div>
            <div class="panel-body">
                <form role="form" ng-submig="home.sendText()">
                    <div class="form-group input-group">
                        <span class="input-group-addon">T</span>
                        <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && home.sendText()" placeholder="Text to send" ng-model="home.data.textToSend">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="User to send" ng-model="home.data.sendTo">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-success" type="button" ng-click="home.sendText()" tooltip="Send Text"><i class="glyphicon glyphicon-send"></i></button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-sm-6  col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Timeline</div>
            <div class="panel-body">
                <textarea id="data_text" class="form-control" rows="5"  ng-model="home.data.text"></textarea>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Events</div>
            <div class="panel-body">
                <button class="btn btn-default btn-primary" ng-click="home.reload()"><i class="glyphicon glyphicon-refresh" tooltip="Reload"></i></button>
                <button class="btn btn-default btn-warning" ng-click="home.reload()"><i class="glyphicon glyphicon-info-sign" tooltip="Reload"></i></button>
                <button class="btn btn-default btn-success" ng-click="home.addSat()"><i class="glyphicon glyphicon-plus" tooltip="add Sat"></i></button>
                <button class="btn btn-default btn-danger" ng-click="home.reload()"><i class="glyphicon glyphicon-trash" tooltip="Remove"></i></button>
                <br><br>
                <textarea class="form-control" rows="5" ng-model="home.data.events"></textarea>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Scene:</div>
            <div class="panel-body">

                <div class="scene-box">
                    <scene-directive width="home.scene.canvasWidth" height="home.scene.canvasHeight" sat="home.scene.sat"></scene-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Authors:</div>
            <div class="panel-body">
                <h4>Marc Mateu</h4>
                <h4>Ignasi Larroca</h4>
            </div>
        </div>
    </div>

</div>


